## Análisis de Datos Iris
Curso: Ingeniero de Machine Learning

By: Est. Jorge Eduardo Antelo Zampieri

In [1]:
# importamos librerías
import pandas as pd

In [2]:
# Cargamos los datos
df = pd.read_csv('iris.csv')
df.head()

   150    4  setosa  versicolor  virginica
0  5.1  3.5     1.4         0.2          0
1  4.9  3.0     1.4         0.2          0
2  4.7  3.2     1.3         0.2          0
3  4.6  3.1     1.5         0.2          0
4  5.0  3.6     1.4         0.2          0